snippet s "String" b
"${1:key}": "$2",$0
endsnippet

snippet n "number" b
"${1:key}": $2,$0
endsnippet

snippet b "block" b
"${1:key}": {
	$0
},
endsnippet

snippet ba "array block" b
"${1:key}": [
	$0
],
endsnippet

snippet a "Array" b
[
   ${VISUAL}$0
],
endsnippet

snippet o "Object" b
{
   ${VISUAL}$0
},
endsnippet

