snippet # "Interpolated Code"
#{$1}$0
endsnippet

snippet cl "Log" b
console.log ${1:"${2:msg}"}
endsnippet

snippet ## "JSDoc bloc" b
/*
 * ${1:Description}
 * @param ${2}
 * @return ${0}
 */
endsnippet
