# Global snippets

snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. ${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet time
	`strftime("%H:%M")`
snippet encoding
	-*- coding: utf-8 -*-

