snippet f func
	func ${1:main}(${2})${3} {
		${3}
	}${4}
snippet for for loop
	for ${1} {
		${2}
	}${3}
snippet forn iterated for
	for ${1:i} := 0; $1 < ${2:n}; $1++ {
		${3}
	}${4}
snippet pack
	package ${1:main}
snippet import
	import (
		${1}
	)${2}
snippet pr
	fmt.Println(${1})${2}
