# snippets for making snippets :)
snippet s snippet
	snippet ${1:trigger}
		${2}
snippet sd snippet with description
	snippet ${1:trigger} ${2:description}
		${3}
snippet $ ${variable}
	${${1}}${2}
snippet 3 ${variable} expansion
	${${1}}${2}
