snippet header Jekyll post header
	---
	title: ${1:title}
	layout: post
	date: ${2:date} ${3:hour:minute:second} +02:00
	---
snippet img Image
	!${1:url}(${2:title}):${3:link}!
snippet a Link
	"${1:link text}":${2:url}
snippet | Table column
	|${1}|${2}
snippet ( Acronym
	(${1:Expand acronym})${2}
snippet fn Footnote
	[${1:ref number}] ${3}

	fn$1. ${2:footnote}
